html {
    background-color: #413733;
}

.container{
    }
    
    .title{
    
    }
    
    #searchBar{
    background: #F8F8F7
    }
    #searchBtn{
    background: #D56244;
    border: 12px solid black;
    }