html {
    background-color: #413733;
}

.container{
    background-color: #C8B190;
    }
    
    .title{
    
    }
    
    #searchBar{
    background: #F8F8F7;
    border-radius: 15px;
    border-color: B58B79;
    border-style: dotted;
    }
    #searchBtn{
        background-color: #D56244; /* Red */
        border: none;
        color: #F8F8F7;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 15px;
      }

      #searchBtn:hover {
        font-size: 20px;
        background-color: #e4846c;
        transition: all .3s ease-in-out;
      }