
/* Set body as invisible.


Prevents the annoying box of doom. */

body {
    background-color: transparent
}

/* The tan box that this is going to take up */

#mainbox {
    opacity: 0.96;
    background-color: #617e83;
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid linear-gradient(#1a5263, #317e96, #317e96, #63301a);;
}

/* Verse E Tile Logo */

#VersEtile {
    opacity: 0.2;
    justify-content: center;
    margin: auto;
    width: auto;
    height: auto;
}

img {
    opacity: 0.87;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Text Formatting */

/* changing the font and center the text inside boxes - CF */

.box {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/* P-tag for the web-app intro - CF */

p {
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    font-weight: bold;
    margin: auto;
    padding-top: 18px;
}


/* Input tags */

.form-label {
    font-weight: bold;
    padding-top: 3px;
}

.form-control {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(#ffffff, #dfdfdf);
    border: 2px solid rgb(121, 173, 173);
    border-radius: 2px;
    padding-top: 2px;
    padding-left: auto;
    padding-right: auto;
    float: left;
    width: 50%;
    height: 35px;
    margin-bottom: 8px;
}

.form-select {
    border-radius: 10px;
    background-color: #F2EAF9;
    border: 2px solid rgb(121, 173, 173);
    float: left;
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
}

/* Fancy form */

.selectStart, .select, .selectEnd {
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}


/* Fancy Shadow on our text */

#header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: auto;
    font-size: 64px;
    text-shadow: 1px 3px 3px #413733;
    margin-top: auto;
    padding: 5px;
}


/* Form text */


/* Tab formatting. WORK, DAMN YOU! */

.box {
    font-weight: bold;
    font-size: 24px;
    color: #413733;
    background-color: #b4dbc1;
    border: 2px dotted #6dc76a;
    padding: 2%;
}

.column {
    background-color: transparent;
}

.tablink {
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #413733;
    text-align: center;
}


/* Search Bar and Button  */

.input {
    text-align: left;
    background: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid #B58B79;
}


/* Search btn */

#searchBtn {
    margin-left: 18px;
    background-color: #be1717;
    /* Red */
    border: none;
    color: #F8F8F7;
    /* White text */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

#searchBtn:hover {
    padding: 10px 30px;
    background-color: #e4846c;
    transition: all .2s ease-in-out;
}


/* Animated Background */
html {
	background: linear-gradient(-45deg, #1a5263, #317e96, #ca3d2a, #63301a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

body{
    background-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}